$prussian-blue: #172a3a;
$warm-black: #004346;
$sapphire: #22577a;
$steel-blue: #508991;
$cadet-blue: #38a3a5;
$mountain-meadow: #09bc8a;
$medium-aqua: #57cc99;
$light-green: #80ed99;
$tea-green: #c7f9cc;
$tiffany-blue: #07beb8;
$medium-turquoise: #3dccc7;
$blizzard-blue: #9ceaef;
$celeste: #c4fff9;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-green;
  color: $warm-black;

  .buttons{
    display: flex;
    flex-direction: row;

      #home-btn {
      color: $warm-black;
      border-collapse: 2px solid $light-green;

        &:hover {
          color: $light-green;
          background-color: $warm-black;
      }
  }

    #sidebar {
      color: $warm-black;
      border: 2px solid $light-green;

        &:hover {
          color: $light-green;
          background-color: $warm-black;
    }
  }

    #logout-btn {
      color: $warm-black;
      background-color: 2px solid $light-green;

        &:hover {
          color: $light-green;
          border: $warm-black;
        }
    }
  }
}
