$prussian-blue: #172a3a;
$warm-black: #004346;
$sapphire: #22577a;
$steel-blue: #508991;
$cadet-blue: #38a3a5;
$mountain-meadow: #09bc8a;
$medium-aqua: #57cc99;
$light-green: #80ed99;
$tea-green: #c7f9cc;
$tiffany-blue: #07beb8;
$medium-turquoise: #3dccc7;
$blizzard-blue: #9ceaef;
$celeste: #c4fff9;

.bucket-list-container {
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $prussian-blue;

	.bucket-list-entry {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90%;
		padding: 20px 0;
		background-color: $light-green;
		border: 2px solid $cadet-blue;
		margin: 10px 0;
		border-radius: 10px;

		input {
			width: 90%;
			height: 2rem;
			border: 2px solid $warm-black;
		}
	}

	#share-btn {
		height: 30px;
		width: 50px;

		margin-left: 10px;
		background-color: $celeste;
		color: $mountain-meadow;
		border: 2px solid $mountain-meadow;
	}
	#share-btn:hover {
		color: $celeste;
		background-color: $blizzard-blue;
	}

	.delete-button-container {
		width: 90%;

		#delete-all-btn {
			height: 30px;
			width: 70px;
			margin-bottom: 10px;
			// margin: 0 70rem 10px 0;

			// background-color: $linen;
			// color: $desert-sand;
			// border: 2px solid $desert-sand;
		}
		#delete-all-btn:hover {
			// color: $linen;
			// background-color: $desert-sand;
		}
	}
}
